/* Body */

.container {
    margin: 20px auto;
}

.row > [class^="col"] {
    background-color: lightskyblue;
    min-height: 65px;
    border: 2px solid white;
    padding: 10px 15px;
}

[class^="col"] > .row > [class^="col"] {
    background-color: goldenrod;
    height: 40px
}

.big {
    
}

