/* Body */

.container {
    margin: 20px auto;
}

.row > [class^="col"] {
    background-color: lightskyblue;
    max-height: 75px;
    border: 2px solid white;
    padding: 10px 15px;
    width: 100%;
}

[class^="col"] > .row > [class^="col"] {
    background-color: goldenrod;
    min-height: 40px;
}

.row > .big {
    min-height: 120px;
}



